<header class="tl-header">
  <a class="tl-brand-link" href="/" aria-label="thinkinglabs home">
    <span class="tl-wordmark" data-wordmark="thinkinglabs" aria-hidden="true">thinkinglabs</span>
  </a>
</header>
